<h2>Add Doctor</h2>
<br>
	<form method="post" action="/doctors/add">
		<div>
			<label>Full Name:</label>
			<input type="text" name="full_name">
		</div>
		<div>
			<label>Category:</label>
			<select name="category">
			{{#each categories}}
				<option value="{{name}}">{{name}}</option>
			{{/each}}
		
			</select>
		</div>
		<div>
			<label>Accepting New Patients:</label>
			<select name="new_patients">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div>
			<label>Practice Name:</label>
			<input type="text" name="practice_name">
		</div>
		<div>
			<label>Graduation Year:</label>
			<input type="text" name="graduation_year">
		</div>
		<div>
			<label>Street Address:</label>
			<input type="text" name="street_address">
		</div>
		<div>
			<label>City:</label>
			<input type="text" name="city">
		</div>
		<div>
			<label>State</label>
			<select name="state">
				<option value="0">Select a State</option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DE">Delaware</option>
				<option value="DC">District Of Columbia</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="KS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="RI">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
		</div>
		<div>
			<input type="submit" value="Add Doctor">
		</div>
	</form>
<br>