<a href="/doctors">< Go Back</a>
<br>
	<h2>{{doctor.full_name}}</h2>
	<br>
	<h4>Physician Information</h4>
	<ul class="doc-info">
		<li>Full Name: {{doctor.full_name}}</li>
		<li>Accepting New Patients: {{doctor.new_patients}}</li>
		<li>Speciality/Category: {{doctor.category}}</li>
		<li>Graduation Date: {{doctor.graduation_year}}</li>
		<li>Practice: {{doctor.practice_name}}</li>
	</ul>
	<h4>Practice Information</h4>
	<ul class="practice-info">
		<li>Name: {{doctor.practice_name}}</li>
		<li>Address: {{doctor.city}}, {{doctor.state}} - {{doctor.street_address}}</li>
	</ul>
<br>